@font-face {
    src: url("/fonts/NanumSquareNeoTTF-bRg.woff2");
    font-family: NanumSquareNeo;
    font-weight: normal;
}

@font-face {
    src: url("/fonts/NanumSquareNeoTTF-eHv.woff2");
    font-family: NanumSquareNeo;
    font-weight: bold;
}

@font-face {
    src: url("/fonts/Staatliches-Regular.ttf");
    font-family: Staatliches;
}

html {
    font-family: NanumSquareNeo;
    background-color: $bg;
    color: $fg;
    font-size: $base-font-size;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    color: $fg-title;
}

a {
    &:visited {
        color: $link-vistied;
    }
    &:hover {
        text-shadow: rgba(255, 255, 255, 0.2) 0 0 0.2em;
    }
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

// used for interactive link (button)
h3 {
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
    background-color: $color-button;
    opacity: 0.6;
    display: inline-block;
    a {
        padding: 0.3em;
        display: inline-block;
        text-decoration: none;
        color: $color-link;
    }
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

blockquote {
    margin: 0;
    text-align: center;
}
