main {
    > p.title {
        margin: 2em 0 0 0;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        color: $fg-bodytitle;
    }
    > p.subtitle {
        margin: 0;
        padding-top: 0.2em;
        text-align: center;
        font-size: 1.5rem;
    }
    section {
        background-color: $bg-section;
        .title {
            background-color: green;
            display: inline-block;
            padding: 0.6rem;
            font-size: 2rem;
            color: white;
        }
        margin: 3rem auto;
        max-width: 50rem;
        .content {
            padding: 1rem;
            h3 {
                width: 4em;
            }
        }
    }
}

footer {
    text-align: center;
}
