// topmost section, containing website title and description
header {
    background-color: grey;
    .small {
        display: none;
    }
    text-align: center;
    .title {
        font-size: 3rem;
        color: $fg-title;
    }
    .small {
        font-size: 3rem;
        color: $fg-title;
    }
    .desc {
        font-size: 1.5rem;
        color: yellow;
    }
    font-weight: bold;
    @media only screen and (max-width: $media-medium) {
        .title {
            font-size: 2.4rem;
        }
    }
    @media only screen and (max-width: $media-narrow) {
        .title {
            display: none;
        }
        .small {
            display: inline;
        }
        .desc {
            display: none;
        }
    }
}

svg.galaxy {
    max-width: 110vh;
    min-width: 50rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    margin-bottom: -1rem;
    @media only screen and (max-width: $media-medium) {
        margin-bottom: -5rem;
    }
    @media only screen and (max-width: $media-narrow) {
        margin-bottom: -9rem;
    }
}

main {
    section {
        background-color: $bg-section;
        .title {
            background-color: green;
            color: white;
        }
    }
}