$bg: #111111;
$bg-section: #222222;
$fg: #aaaaaa;
$fg-title: rgb(41, 169, 41);
$fg-desc: rgb(167, 167, 167);
$fg-bodytitle: rgba(255, 255, 255, 0.882);
$base-font-size: 1.3rem;
$media-medium: 68rem;
$media-narrow: 32rem;

// tootbox and animation variables
$color-cable-base: rgba(255, 255, 255, 0.1);
$color-cable-pulse: rgb(194, 250, 52);
$color-svg-base: rgba(255, 255, 255, 0.05);
$color-svg-base2: white;
$color-svg-pulse: rgb(167, 255, 90);
$color-galaxy-base: rgb(55, 55, 55);
$color-galaxy-pulse: white;
$color-galaxy-shadow: rgba(255, 255, 255, 0.157);
$color-galaxy-shadow2: rgb(206, 251, 8);
$galaxy-shadow-y: 0.18rem;
$galaxy-shadow-size: 0.25rem;
$color-timebox: white;
$tootbox-width: 20rem;
$period: 5s;
$double-period: 10s;
$tootbox-period: 25s;
$delay-firstlight: 0.5s;
$delay-exit: 0.6s;
$color-path-base: white;
$color-path-pulse: yellow;

// interactive elements
$color-button: white;
$color-link: rgb(1, 107, 1);
$link-vistied: rgb(183, 45, 183);

@import 'base';
@import 'title';
@import 'titletext';
@import 'body';
