.anim .tootbox {
    .user:after {
        animation: userbox $tootbox-period linear infinite;
        animation-delay: 0.4s;
        @keyframes userbox {
            0% {content: "@***@uri.life";}
            20% {content: "@***@uri.life";}
            20.1% {content: "@***@silicon.moe"}
            40% {content: "@***@silicon.moe"}
            40.1% {content: "@***@funami.tech"}
            60% {content: "@***@funami.tech"}
            60.1% {content: "@***@kurry.social"}
            80% {content: "@***@kurry.social"}
            80.1% {content: "@***@planet.moe"}
            100% {content: "@***@planet.moe"}
        }
    }
    .toot:after {
        animation: toot $tootbox-period linear infinite;
        animation-delay: 0.45s;
        @keyframes toot {
            0% {content: "붕어빵 먹고 싶다"}
            20% {content: "붕어빵 먹고 싶다"}
            20.1% {content: "으아아아아아악"}
            40% {content: "으아아아아아악"}
            40.1% {content: "간장 공장 공장장은 강 공장장인가 공 공장장인가"}
            60% {content: "간장 공장 공장장은 강 공장장인가 공 공장장인가"}
            60.1% {content: "털이 친절하고 주인장이 맛있어요"}
            80% {content: "털이 친절하고 주인장이 맛있어요"}
            80.1% {content: "뿌우!"}
            100% {content: "뿌우!"}
        }
    }
    .metadata:after {
        animation: metadata $tootbox-period linear infinite;
        animation-delay: 0.5s;
        @keyframes metadata {
            0% {content: ""}
            20% {content: ""}
            20.1% {content: ""}
            40% {content: ""}
            40.1% {content: ""}
            60% {content: ""}
            60.1% {content: ""}
            80% {content: "toot"}
            80.1% {content: ""}
            100% {content: ""}
        }
    }
    .delay:after {
        animation: delaybox $tootbox-period linear infinite;
        animation-delay: 0.55s;
        @keyframes delaybox {
            0% {content: "1.32 ms";}
            20% {content: "1.32 ms"}
            20.1% {content: "1.59 ms"}
            40% {content: "1.59 ms"}
            40.1% {content: "2.14 ms"}
            60% {content: "2.14 ms"}
            60.1% {content: "1.53 ms"}
            80% {content: "1.53 ms"}
            80.1% {content: "1.94 ms"}
            100% {content: "1.94 ms"}
        }
    }
}