<!DOCTYPE html>
<html>
    <head>{{ partial "head.html" . }}</head>
    <body>
        <h1>{{ partial "header.html" . }}</h1>
        {{ partial "title.html" . }}
        <main>
            <!-- change hX tags into a separately styled title,
                as it steals markdown formatting -->
            <h2>{{ .Site.Params.title.title}}</h2>
            <h3>{{ .Site.Params.title.subtitle}}</h3>
            <!-- use the top level .md files here as a list -->
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
