<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}</head>
    <body>
        {{ partial "header.html" . }}
        {{ partial "title.html" . }}
        <main>
            <p class="title">{{ .Site.Params.title.title}}</p>
            <p class="subtitle">{{ .Site.Params.title.subtitle}}</p>
            {{ range sort .Pages.ByWeight }}
                {{ if not .Draft }}
                <section>
                    <span class="title">{{ .Title }}</span><br>
                    <div class="content">
                        {{ .Content }}
                    </div>
                </section>
                {{ end }}
            {{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
