<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}</head>
    <body>
        {{ partial "header.html" . }}
        {{ partial "title.html" . }}
        <main>
            <h2>{{ .Site.Params.title.title}}</h2>
            <h3>{{ .Site.Params.title.subtitle}}</h3>
            {{ range sort .Pages.ByWeight }}
                {{ if not .Draft }}
                <section>
                    <span class="title">{{ .Title }}</span><br>
                    {{ .Content }}
                </section>
                {{ end }}
            {{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
